body{
	background:#333333 url(https://image.freepik.com/free-photo/wall-texture_1194-5615.jpg);
	margin:0px;
	font-family: 'Roboto', sans-serif;
	color:#0092db;
}
h1{
	font-size: 50px;
	 color:#258cc0;
	}
h2{
	font-size: 30px;
	 color:#258cc0;
	 text-align: center;
	}
h3{

	 color:#00527a;
	 float: left;
	 padding-top: 45px;
	}
h4{
	font-size: 20px;
	color:#31baff;
	}

ul{
	margin:0px;
	 padding:0px;
	}

a {
	text-decoration:none;
	 color:#6a6969;
	}

hr {
	border-color: #1f1f1f;
}



#container{
	width:950px;
	margin:0px auto 300px auto;
	background-color: #2e2e2ed0;
	overflow:auto;
	padding-bottom:100px;
}

#header{
	width:950px;
	height:115px;
	background-color:#222222;
	padding:0px 43px;
	position: fixed;
	top:0px;
	left:50%;
	margin: 0 0 0 -475px;
}

#main-menu{
	float:right;
	 padding-top:95px;
	}

#main-menu a {
	color: #00527a;
}

#main-menu li{
	float:left;
	list-style:none;
	margin-left:27px;
	font: 400 16px/20px 'Bree Serif', Georgia, serif;
}

/****************************************************/
/* BIO SECTION */
/****************************************************/

#bio{
	margin:0px 43px;
	 padding-top:115px;
	color:#dbf3ff;
	
}

#bio h1{
	text-align: center;
}


#bio .content{
	overflow:auto;
}

.content img{
	float:left;
	margin-right:40px;
	border:5px solid #222222;
}


/****************************************************/
/* EXPERIENCE SECTION */
/****************************************************/

#experience{
	margin:0px 43px;
	color:#dbf3ff;
	list-style-type: none;
	width: 30%;
	float: left;
	
}



/****************************************************/
/* PROJECT SECTION */
/****************************************************/

#projects {
	margin:0px 43px;
	
	margin:0px 43px;
	list-style-type: none;
	width: 50%;
	float: left;
}

#projects a {
	color:#dbf3ff;
}



